@use "sass:list";
@use "flex";

$sizes: "5xl", "4xl", "3xl", "2xl", "xl", "lg";

.heading {
	--text-color: var(--color-text-default);

	@include flex.parent($display: "inline", $gap: theme("spacing.1"));

	margin: 0;

	font-family: var(--font-sans);
	font-size: var(--font-size);
	font-weight: 500;
	color: var(--text-color);

	@for $index from 1 through list.length($sizes) {
		&.level#{$index} {
			--font-size: theme("fontSize.#{list.nth($sizes, $index)}");
		}
	}

	& > .content {
		@include flex.parent($display: "inline", $gap: theme("spacing.1"));
	}
}
