@mixin disabled {
	&.disabled,
	&[aria-disabled="true"],
	&[disabled] {
		--text-color: theme("colors.neutral.600");
		--background-color: theme("colors.neutral.400");

		@apply grayscale;
		opacity: 0.75;

		@apply transition-opacity;
		transition-duration: 500;

		cursor: not-allowed;

		& input {
			cursor: not-allowed;
		}
	}
}

@mixin focused {
	&:focus:not([disabled]) {
		--text-color: theme("colors.white");
		--background-color: theme("colors.blue.600");
		--border-color: theme("colors.blue.600");
	}
}

@mixin hovered {
	&:hover:not([disabled]):not(:focus) {
		--text-color: theme("colors.white");
		--background-color: theme("colors.violet.800");
	}
}

@mixin valid {
	&:valid:not(:placeholder-shown):not(:focus):not(:hover) {
		--text-color: var(--color-green);
		--background-color: theme("colors.emerald.100");
		--border-color: var(--color-green);
	}
}

@mixin invalid {
	&:invalid:not([disabled]):not(:focus):not(:hover):not(:placeholder-shown) {
		--text-color: theme("colors.red.800");
		--background-color: theme("colors.red.100");
		--border-color: theme("colors.red.800");
	}
}
