@use "position";
@use "sizing";

.layout {
	@include sizing.full(screen);
	display: grid;
	grid-template-areas:
		"header"
		"main";
	grid-template-rows: auto 1fr;

	background-color: theme("colors.white");

	& > .header {
		grid-area: header;
	}

	& > .main {
		position: relative;

		grid-area: main;

		@include sizing.full(container);
		overflow: hidden;
	}
}
