@use "position";
@use "sizing";

.article {
	@include sizing.full(container);
}

.sections_wrapper {
	@include sizing.full(container);
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
