@use "flex";
@use "state";

.button {
	--width: theme("width.48");
	--height: theme("height.12");
	--padding-block: theme("spacing.2");
	--text-color: var(--color-text-default);
	--background-color: var(--color-accent);

	@include flex.parent(
		$display: "inline",
	);

	width: var(--width);
	height: var(--height);
	padding-block: var(--padding-block);

	color: var(--text-color);

	background-color: var(--background-color) !important;
	border-radius: theme("borderRadius.full");

	@apply transition-colors;
	transition-duration: 300ms;

	@include state.disabled;
	@include state.focused;
	@include state.hovered;

	& > .label {
		font-family: var(--font-sans);
	}
}
