@use "flex";
@use "state";

.button {
	--width: unset;
	--height: fit-content;
	--padding-block: theme("spacing.2");
	--padding-inline: theme("spacing.5");

	@include flex.parent(
		$display: "inline",
		$flow: "dynamic",
		$column-gap: theme("spacing.2")
	);

	width: var(--width);
	height: var(--height);
	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);

	@apply transition-colors;
	transition-duration: 300ms;

	@include state.disabled;

	& > .label {
		font-weight: theme("fontWeight.bold");
	}
}
