@use "state";

.link {
	--text-color: theme("colors.blue.600");

	display: inline-block;

	color: var(--text-color);

	@include state.disabled;

	&.external {
		/* . */
	}

	&.internal {
		/* . */
	}
}
