@mixin variables($name, $dark, $light) {
	/* stylelint-disable custom-property-pattern */
	--color-#{$name}-dark: #{$dark};
	--color-#{$name}-light: #{$light};
	/* stylelint-enable custom-property-pattern */
}

@mixin class($name, $background, $border, $stroke, $text) {
	&:global(.#{$name}) {
		--background-color: var(#{$background});
		--border-color: var(#{$border});
		--stroke-color: var(#{$stroke});
		--text-color: var(#{$text});
	}
}
