@use "sizing";

.container {
	--width: unset;
	--height: theme("height.4");
	--text-color: var(--text-color-default) !important;

	width: var(--width);
	height: var(--height);
	margin: 0;

	& > .logo {
		@include sizing.full(container);

		fill: currentcolor;
	}
}
